<div>
  <h1> Please login HERE </h1>
  <form method="POST" action="login">
      <input type="text" name="username" placeholder="username" /><br>
      <input type="password" name="password" placeholder="password" /><br>
      <input type="submit" />
  </form>
  <p> Not have ac account? Please <a> register </a> </p>
</div>