<div id="register">
  <h1> Please register HERE </h1>
  <form method="POST" action="register">
      <input type="text" name="username" placeholder="username" /><br>
      <input type="password" name="password" placeholder="password" /><br>
      <input type="submit" />
  </form>
  <p> Already have an accout? Please <a href="/login"> login </a> </p>
</div>