<form method="POST" action="/count">
    <label for="valorA">Valor A</label>
    <input type="text" name="valorA" />
    <label for="valorB">Valor B</label>
    <input type="text" name="valorB" />
    <input type="submit" />
</form>