<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Node y MongoDB Crash Course </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.1.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <header>
        <h1>Welcome to Node.JS y MongoDB Educaci&oacute;nIT web course</h1>
        <nav>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="/content">Course content</a></li>
                <li><a href="/about/node">¿What is Node JS?</a></li>
                <li><a href="/about/mongo">¿What is Mongo DB?</a></li>
            </ul>
        </nav>
    </header>
    {{{ body }}}
</body>

</html>