<section class="center">
    <img src="images/node-express-mongo.jpg"><br>
    Develop modern applications with MongoDB and NodeJS. Use Javascript on the server side.
    Learn how to develop web applications wiht Node.js with the most efficient and performant way 
    <div>
      <img src="images/difficulty.PNG"> Difficulty
      <img src="images/pc.PNG">Include PC
      <img src="images/certificate.PNG">Knowledge guarantee
    </div>
</section>